.logo a {
    text-transform:inherit;
    font: weight 5px;
    font-family:fantasy;
    color:hsl(276, 83%, 55%);
    margin:0fr;
  }  

  @media (min-width: 800px) {
    .logo a {
      font-size: var(--size-16);
    color:rgb(61, 245, 132);
      
    }
  }