.header {
    width: 101%;
    height: 3rem;
    background-color:#4f46e5;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 10%;
  }
  .background {
  background-color:#a9a6da;
  }
  
  .header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
  }
  
  .header li {
    margin: 0 var(--size-16);
  }
  
  .header a {
    color:hsl(0, 0%, 96%);
    font-family:fantasy;
    font-size: var(--size-16);
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color:rgb(34, 211, 57);
  }
  
  @media (min-width: 768px) {
    .header ul {
      gap: 1rem;
    }
  
    .header a {
      font-size: var(--size-8);
    }
  }