.latest {
    width: 90%;
    max-width: rem;
    margin: var(--size-6) auto;
  }
  
  .latest h2 {
    font-size: var(--size-8);
    color:rgb(255, 255, 255);
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .latest h2 {
      font-size: var(--size-16);
    }
  }