.her {
    text-align:end;
    background-image:linear-gradient(
      to bottom,
      var(--size-6),
      var(--color-grey-900)
    );
    padding: var(--size-6) 0;
  }
  
  .image {
    width: 40W0px;
    height: 400px;
    box-shadow: 0 1px 8px hsla(0, 24%, 16%, 0.2);
    border-radius: 90%;
    overflow:hidden;
    background-color: var(--color-grey-200);
    margin:1%;
  }
  
  .image img {
    object-fit:cover;
    object-position:0rem;
    width: 200%;
    height: 200%;
  }
  
  .hero h1 {
    font-size: var(--size-16);
    margin: var(--size-16) 0;
    font-family:sans-serif;
    color:rgb(237, 241, 240);
    margin:2%;
  }
  
  .her p {
    font-size: var(--size-8);
    margin: var(--size-16) 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(27, 15, 15);
    width: 90%;
    max-width: 40rem;
    margin: 20px;
  }